/* ----- LAYOUT WRAPPER ----- */
.app-wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    transition: all 0.3s ease;
}

.layout-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

.content {
    flex: 1;
    padding: 16px;
    background-color: var(--background-color);
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
  width: calc(100% * 25 / 26);
  height: calc(100% * 20 / 21);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-content: center;
  background-color: var(--foreground-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  padding: 25px;
  overflow-y: auto;

  /* Hide scrollbar (cross-browser) */
  scrollbar-width: none;           /* Firefox */
  -ms-overflow-style: none;        /* IE and Edge */
}

.card::-webkit-scrollbar {
  display: none;                   /* Chrome, Safari, Opera */
}


.card .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom:20px;
}

.card .elements {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .entries {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}