.tableContainer, .itemList, .scrollable-tbody {
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

.tableContainer::-webkit-scrollbar, 
.itemList::-webkit-scrollbar, 
.scrollable-tbody::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

.itemList {
    width: 100%;
    border-collapse: collapse;
}

table tbody tr:hover {
    background-color: unset;
    background-color: none !important;
    color: black;
}


.itemList td, .itemlist th {
    padding: 0.5rem;
    border: 1px solid #dddddd00
}

.itemList tbody tr td input{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.translucent input {
    opacity: 0.4;
    transition: opacity 0.2 ease;
}

.translucent input:focus {
    opacity: 1;
    color: black;
}

.grandTotal h3 {
    font-weight: bold;
}

.grandTotal tr:hover {
    transform: unset;
    transition: unset;
    color: black;
    font-weight: inherit;
}

.scrollable-tbody {
    max-height: 14rem; /* or 250px */
    overflow-y: auto;
    display: block;
    overflow-anchor: bottom;
  }
  
  .scrollable-tbody table {
    width: 100%;
    border-collapse: collapse;
  }