/* Modal Overlay */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Modal Header */
h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.2rem;
}

.editRevenue_row input[type="text"], .editRevenue_row input[type="number"], .editRevenue_row input[type="date"], .editRevenue_row select {
    flex: 1;
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    background-color: white;
    height: 42px;
    box-sizing: border-box;
    gap: 1rem;
}

/* Modal Box */
.modalContent {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    width: 40%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease;
}

/* Buttons */
.modalButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    background-color: none;
}

.row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      background-color: none;
      margin-bottom: 1rem ;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 2rem;
    background-color: none;
}

.cancelBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100px;
    padding: 10px;
    background-color: #961C1E;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cancelBtn:hover {
    background-color: #7e1719;
}

.saveBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 10px;
    background-color: #13CE66;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.saveBtn:hover {
    background-color: #0fb85a;
}

/* Optional Fade Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
