button {
    outline: 1px solid black;
    border-radius: 5px;
  } 
  
  .financialRequestPage {
      padding: 20px;
      font-family: 'poppins', sans-serif;
      color: black;
    }
  
    .settings {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 20px;
      justify-content: space-between;
    }
    
    .settings input[type="text"],
    .settings input[type="date"],
    .settings select {
      padding: 8px;
      font-size: 1rem;
    }
  
    .settings input {
      outline: 1px solid black;
      border-radius: 5px;
    }
    
    
    .filters {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    
    .searchBar,
    .datePicker,
    .categoryDropdown,
    .addRevenueBtn {
      padding: 8px;
      font-size: 14px;
    }
  
    #categoryFilter {
      max-width: max-content;
    }
    
    
    .tableContainer {
      overflow-x: auto;
    }
    
    .revenueTable {
      width: 100%;
      border-collapse: collapse;
    }
    
    .revenueTable th,
    .revenueTable td {
      padding: 15px;
      border: 1px solid #ddd;
      text-align: center;
    }
  
    .actionButtons {
      display: flex;
      flex-direction: row;
      wrap: wrap;
      gap: 0.5rem;
      justify-content: center;
    }
    
    .viewBtn,
    .editBtn,
    .deleteBtn {
      padding: 6px 12px;
      gap: 0px;
      cursor: pointer;
      outline: none;
      font-weight: Normal !important;
      font-size: 16px;
      transition: 0.3 ease;
    }

    .viewBtn:hover,
    .editBtn:hover,
    .deleteBtn:hover {
      transform: scale(1.05);
      transition: 0.3s ease;
    }

    .viewBtn {
      background-color: #4CAF50;
      color: white;
      border: none;
      outline: none;
    }
    
    .editBtn {
      background-color: #2196F3;
      color: white;
      border: none;
      outline: none;
    }
    
    .deleteBtn {
      background-color: #f44336;
      color: white !important;
      border: none;
      outline: none;
    }
    
    .pagination button {
      padding: 6px 12px;
      border: 1px solid #ccc;
      background-color: white;
      cursor: pointer;
    }
    
    .pagination button:hover {
      background-color: #eee;
    }
    
    .pagination .active {
      background-color: #4CAF50;
      color: white;
      font-weight: bold;
    }
    
    .pagination button:disabled {
      background-color: #f0f0f0;
      color: #aaa;
      cursor: not-allowed;
    }
    
    
    .tableContainer {
      overflow: scroll;
    }
  
    .tableContainer table {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;
    }
    
    .tableContainer th,
    .tableContainer td {
      border: none;
      padding: 10px;
      text-align: center;
      word-wrap: break-word;
    }
    
    .tableContainer th {
      background-color: #961C1E;
      color: white;
    }

    tr {
        transition: 0.3s ease;
    }

     tbody tr:hover {
        background-color: #FF4949;
        color: white;
        transform: scale(1.02);
        font-weight: bold;
    }
    